appnope==0.1.0
Django==1.9.5
djangorestframework==3.3.3
factory-boy==2.6.1
fake-factory==0.5.7
future==0.15.2
Jinja2==2.8
jsonschema==2.5.1
lxml==3.6.0
psycopg2==2.6.1
python-dateutil==2.5.2
requests==2.9.1
usaddress==0.5.7
-e git+https://github.com/18F/django-pg-fts.git@db1d5ed05215408068c6eab06dff668d19c50c36#egg=django_pg_fts

whitenoise==1.0.6  #manages static assets
dj-database-url==0.3.0 #grabs environment variables and dumps them into a Django settings file
waitress==0.8.9 #a pure python WSGI server that is a replacement for gunicorn

